*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: auto;
    height: auto;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        background-image: url("https://gomytech.gomycode.co/content/images/2020/12/bah-launch-01-min.jpg");
color: rgb(245, 244, 247);

    
}
.add-todo{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.add-todo input{
    height: 1.7rem;
    width: 12rem;
    padding: 0.6rem;
    border-radius: 1rem;
}
#checked{
    background-color: #000000;
}
 button{
    border-radius: 2rem;
    width: 6rem;
    height: 1.7rem;
    cursor: pointer;
}
.todo-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    height: 4rem;
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
}
.todo-content h1{
    width: 50%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
i{
    font-size: 1.8rem;
    padding-right: 6px;
    cursor: pointer;
}
.add{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}